body, html {
    padding: 0;
    margin:0;
    min-height: 100vh;
    min-width: 100vw;
    width: 100%;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #222627;
    color: white;
}

.main__container {
    margin: 0 auto;
    max-width: 90vw;
    min-width: 50vw;
    width: 80%;
    border: 3px solid red;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.question__container {
    margin-right: 30px;
    border: 3px solid green;
}


.price__container {
    border: 3px solid purple;
    width: 40%;
}

.bill__container {
    justify-content: center;
    align-items: center;
}

#bill > * {
    flex: 1;
}

#error {
    margin-top: 20%;
    position: absolute;
    display: none;
}

#seo, #design {
    display: none;
}
